{% extends 'base.html' %}

{% block content %}
<div class="">
        <div class="">
            <ul class="">
                {% block breadcrumb %}
                <li><a href="{% url 'accounts:dashboard' %}">Meu Painel</a></li>
                {% endblock %}
            </ul>
        </div>
        <div class="">
            <a class="">Meus Cursos</a>
            <ul>
                <li><a href="#">Curso 1</a></li>
                <li><a href="#">Curso 2</a></li>
                <li class="">Minha Conta</li>
                <li><a href="{% url 'accounts:edit' %}">Editar Conta</a></li>
                <li><a href="{% url 'accounts:edit_password' %}">Editar Senha</a></li>
            </ul>
        </div>
    </div>
    <div class="">
        <div class="inner">
            {% block dashboard_content %}
            <p><strong>Usuário</strong>: {{ user }}</p>
            <p><strong>E-mail</strong>: {{ user.email }}</p>
            {% endblock %}
        </div>
    </div>
</div>
{% endblock %}